
<div class="author">
  <h2 class="author__heading"><span class="event-title"><%= data.title %></span> </h2>
  <p class="author__body">Event Date and Time : <%= data.eventDate %> <br/>Sponsored by :  <%= data.sponser %> <a href="<%= data.referUrl %>" target="_blank" class="event-des-link" >&lt; Click here to get more info.</a> </p>
  
  <h4 class="event-des-title">Description</h4>
  <p class="author__body"> <%= data.body %></p>
</div>